
/* jQuery - ВАЛИДАЦИЯ */

.help-block {
	.form-group [class*="col-"] + & {
		display: inline-block;
        padding: 0 15px;
	}
}

[data-bv-result="INVALID"] { color: @brand-danger; }
[data-bv-result="VALID"] { color: @brand-success; }

.form-control-feedback {
	&.fa-exclamation-circle { color: @brand-danger; }
	&.fa-check-circle { color: @brand-success; }
	position: absolute; left: 13px; top: -0.2rem;
}