
@import "//fonts.googleapis.com/css?family=Roboto";
@import "//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css";
@import "bootstrap-var"; // ручной перенос переменных из SASS
@import "//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css"; // требуется для бутстрапа
@import "//cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether-theme-arrows-dark.min.css"; // требуется для бутстрапа
@import "//code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-minimal.min.css";  // индикатор загрузки страницы

body { overflow-y: scroll; font-family: "Roboto", sans-serif; }

@font-shift: 0.13rem; // 0.13rem - 0.31rem для тонких подчеркиваний

.fa { font-size: 1rem + @font-shift; margin-top: -1*@font-shift; } // вертикальное выравнивание иконок в строке

.nav-link { text-decoration: underline;
	.fa { text-decoration: underline;
		&.fa-table { font-size: 1rem + @font-shift; } // маска для корректировки резкозти иконок
	}
}

label {
	&.row { display: block }
}

.input-group-addon {
	&.fa { display: table-cell; } // наследование от .input-group-addon
}

@import "colors"; // подключение цветовых схем