// Base Corrections

body { overflow-y: scroll; font-family: "Roboto", sans-serif; }
a { text-decoration: underline; }


// КУРСОРЫ
[ng-click], // дефолтный курсор кликабельных элементов
[title] { cursor: default; } // для плагина тултипа, чтобы подпись всегда была под указателем-стрелкой