// Base Corrections

body { overflow-y: scroll; font-family: "Roboto", sans-serif; margin-bottom: 10rem; }
a { text-decoration: underline; }
[title] { cursor: default; } // для плагина тултипа, чтобы подпись всегда была под указателем-стрелкой