
/* ШРИФТЫ, ИКОНКИ */

@font-shift: 0.13rem; // 0.13rem - 0.31rem для тонких подчеркиваний

.text-num,
.select2-selection__rendered, // select2
.select2-results__option, // select2
.form-control { font-family: 'Roboto Mono', monospace; }

.select2-results__option { font-size: @tag-font-size; }

.fa {
	font-size: 1rem + @font-shift;
	&:before { margin-top: -1*@font-shift; } // вертикальное выравнивание иконок в строке
	th&, td& { display: table-cell; }
	th&.fa-caret-down:before, th&.fa-caret-up:before { margin-left: -.2rem; }
	i&+span { padding-left: 0.3em; } // для кнопок и ссылок с иконками
	.btn& { min-width: 2.25rem; line-height: 1.25; padding-left: 0; padding-left: top; padding-left: bottom; } // иконки-кнопки
	.btn& { font-family: @font-family-base; font-size: 1rem; } // иконки-кнопки
	.btn&:before { font-family: FontAwesome; font-size: 1rem+@font-size-btn-ico-plus; }
	.btn&:before { float: left; margin: -0.6*@font-size-btn-ico-plus 0.2rem; vertical-align: middle; height: 1rem; }
	.btn&:empty { padding-right: 0; &:before { float: none; } }
	@font-size-btn-ico-plus: 0.5rem;
}
/* маленькие индикаторы для элементов раскрытия секций */
[data-toggle="collapse"]:before { content: "\f196"; font-family: FontAwesome; font-size: 1rem + 0.7*@font-shift; line-height: 0; opacity: 0.5; }
[data-toggle="collapse"][aria-expanded="true"]:before { content: "\f147"; }

/* маленькие индикаторы для элементов раскрытия секций */
.fa {
	.nav-link { text-decoration: underline; }
	&.input-group-addon { line-height: 0; }
	&.fa-search { font-size: 1rem + 2.5*@font-shift; margin-top: -2.5*@font-shift; } // маска для корректировки резкозти иконок
}

/* замена аналогов glyphicon на FontAwesome */
.glyphicon { font-family: FontAwesome; font-weight: normal; }
.glyphicon-chevron-left:before { content: '\f104'; }
.glyphicon-chevron-right:before { content: '\f105'; }