
/* ЭЛЕМЕНТЫ ФОРМ */

.label-short {
	vertical-align: middle;
	min-height: 2.25rem;
	border: 1px solid transparent;
	box-sizing: padding-box;
	padding-top: 0.55rem;
	line-height: 1.15rem;
	display: inline-block;
	color: #000;
	&.text-left { margin-right: @mark-padding; padding-right: 1.5rem; }
	&.text-right { margin-left: @mark-padding; padding-left: 1.5rem; }
}

.label-box {
	&.form-check {
		.form-check-input {
			margin-top: 0.8rem; width: 1.5rem;
			&.pull-left { margin-right: -1.5rem; }
            &.pull-right { margin-left: -1.5rem; }
		}
	}
}

