
/* ЭЛЕМЕНТЫ ТАБЛИЦ */

.th-content {
	display: inline-block;
}

.jq-rowselect { display: none; }
.row-select td, .table tbody tr.row-select:hover td { background-color: @brand-primary; color: yellow; }

.table {
	caption { caption-side: top; }
	thead {
		th { border-bottom-width: 0; } // скрываем белую полосу
	}
	td, th {
		position: relative;
		border-top-color: transparent;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
		&.text-right { text-align: right; }
		&.text-left { text-align: left; }
	}
	tfoot {
		td, th { box-shadow: none; }
	}
	&.table-striped {
		tbody {
			&:hover {
				tr:nth-of-type(2n+1) { background-color: transparent; }
			}
		}
	}
}

