<nav class="navbar navbar-dark">
	<a class="navbar-brand" href="#">Logo</a>
	<ul class="nav navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="#/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#/about"><i class="fa fa-shield"></i> About</a></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#/contact"><i class="fa fa-comment"></i> Contact</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#/icons"><i class="fa fa-flag"></i> Icons</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#/forms"><i class="fa fa-table"></i> Forms</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#/colors"><i class="fa fa-paint-brush"></i> Colors</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#/tables"><i class="fa fa-th"></i> Tables</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#/buttons"><i class="fa fa-square-o"></i> Buttons</a>
		</li>
	</ul>
	<form class="form-inline pull-xs-right">
		<input class="form-control" type="text" placeholder="Search">
		<button class="btn btn-outline-success" type="submit">Search</button>
	</form>
</nav>