<script async src="../js/app-pages.js"></script>

<div class="jumbotron">
	<h1>Tables</h1>
	<p>{{message}} {{paddingX}}</p>

	<br>
	<div class="alert alert-info">
		<p>Sort Type: {{ sortType }}</p>
		<p>Sort Reverse: {{ sortReverse }}</p>
		<p>Search Query: {{ searchCountry }}</p>
	</div>

	<form class="form-inline jq-formservice">
		<div class="form-group">
			<label class="input-group">
				<div class="input-group-addon fa fa-search"></div>
				<input class="form-control input-width-auto"
				       type="text" placeholder="Search"
				       ng-model="searchCountry">
			</label>
		</div>
		<div class="form-group">
			<label class="">
				<span class="label-short text-left">Rows on page</span>
				<input type="number" class="form-control number-width-auto" ng-model="rowsPerPage" style="width: 4em;">
			</label>
		</div>
	</form>

	<table class="table table-striped">
		<col>
		<col width="70%">
		<col width="30%">
		<thead>
			<tr>
				<th class="text-nowrap" ng-click="sortType = 'code'; sortReverse = !sortReverse">
					<i class="fa {{ sortType == 'code' && sortReverse ? 'fa-caret-up' : 'fa-caret-down' }}"></i>
					<div class="th-content">Код</div>
				</th>
				<th ng-click="sortType = 'name'; sortReverse = !sortReverse">
					<i class="fa {{ sortType == 'name' && sortReverse ? 'fa-caret-up' : 'fa-caret-down' }}"></i>
					<div class="th-content">Страна</div>
				</th>
				<th class="text-right" ng-click="sortType = 'population'; sortReverse = !sortReverse">
					<i class="fa {{ sortType == 'population' && sortReverse ? 'fa-caret-up' : 'fa-caret-down' }}"></i>
					<div class="th-content">Население</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<!-- change from ng-repeat to dir-paginate attribute -->
			<tr dir-paginate="
			country in countries |
			orderBy: sortType: sortReverse |
			filter: searchCountry |
			itemsPerPage: rowsPerPage">
				<td>{{country.code}}</td>
				<td>{{country.name}}</td>
				<td class="text-right">{{country.population | number}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="999">
					<dir-pagination-controls
						boundary-links="true"
						on-page-change="pageChangeHandler(newPageNumber)"
						template-url="../get/tpl/dirPagination.tpl.html">
					</dir-pagination-controls>
				</td>
			</tr>
		</tfoot>
	</table>
	<img class="jq-lazyload" data-original="../img/lazyload.png">

</div>

