<script async src="../js/app-pages.js"></script>

<div class="jumbotron">
	<h1>Tables</h1>
	<p>{{message}}</p>
	<table jq.tablecols
	       class="table table-striped jq-tablecols">
		<caption class="table-controls">
			<form class="row form-inline jq-formservice">
				<fieldset class="pull-right col-md-6 row table-controls">
					<div class="form-group pull-right">
						<label class="label-box input-group pull-right col-md-12">
							<div class="input-group-addon fa fa-search"></div>
							<input class="form-control input-width-auto"
							       type="text" placeholder="Search"
							       ng-model="searchCountry">
						</label>
					</div>
					<div class="form-group pull-right">
						<label class="label-box pull-right">
							<span class="label-short">Rows on page</span>
							<input type="number" class="form-control number-width-auto" ng-model="rowsPerPage"
							       style="width: 4em;">
						</label>
					</div>
				</fieldset>
				<fieldset class="pull-left col-md-3 table-controls">
					<div class="form-group">
						<label class="label-box form-check">
							<input class="form-check-input pull-left" type="checkbox"
							       ng-model="checkboxModel.tableControls"
							       ng-true-value="'table-controls'"
							       ng-false-value="null">
							<div class="label-short text-left">Add controls</div>
						</label>
					</div>
				</fieldset>
				<fieldset class="pull-left col-md-3 {{checkboxModel.tableControls}}">
					<div class="form-group">
						<div class="label-box">Small</div>
						<label class="label-box form-check">
							<input class="form-check-input pull-left" type="checkbox"
							       ng-model="checkboxModel.tableSmallFont"
							       ng-true-value="'small'"
							       ng-false-value=null>
							<div class="label-short text-left"> font</div>
						</label>
						<label class="label-box form-check">
							<input class="form-check-input pull-left" type="checkbox"
							       ng-model="checkboxModel.tableSmallPads"
							       ng-true-value="'pad-min-v'"
							       ng-false-value=null>
							<div class="label-short text-left"> pads</div>
						</label>
					</div>
				</fieldset>
				<fieldset class="pull-left col-md-12 {{checkboxModel.tableControls}} col-checks"> hide cols</fieldset>
			</form>
		</caption>
		<thead class="
			{{checkboxModel.tableSmallFont}}
			{{checkboxModel.tableSmallPads}}
			{{checkboxModel.tableControls}}
		">
		<tr>
			<th jq.rowselect class="text-nowrap width-min jq-rowselect">
				<label class="th-content"><input type="checkbox"></label>
			</th>
			<th class="text-nowrap width-min
					{{ sortType === 'code' && sortReverse ? 'col-reverse':'col-sort' }}"
			    data-active="{{ sortType === 'code' ? 'active':'' }}">
				<div class="th-content"
				     ng-click="sortType == 'code' ? sortReverse = !sortReverse : sortReverse = sortReverse ; sortType = 'code'">
					Код
				</div>
			</th>
			<th style="width: 70%" class="expandable
					{{ sortType === 'name' && sortReverse ? 'col-reverse':'col-sort' }}"
			    data-active="{{ sortType === 'name' ? 'active':'' }}">
				<div class="th-content"
				     ng-click="sortType == 'name' ? sortReverse = !sortReverse : sortReverse = sortReverse ; sortType = 'name'">
					Страна
				</div>
			</th>
			<th style="width: 30%" class="text-right expandable
				    {{ sortType === 'population' && sortReverse ? 'col-reverse':'col-sort' }}"
			    data-active="{{ sortType === 'population' ? 'active':'' }}">
				<div class="th-content"
				     ng-click="sortType == 'population' ? sortReverse = !sortReverse : sortReverse = sortReverse ; sortType = 'population'">
					Население
				</div>
			</th>
		</tr>
		</thead>
		<tbody class="
			{{checkboxModel.tableSmallFont}}
			{{checkboxModel.tableSmallPads}}
			{{checkboxModel.tableControls}}
		">
		<!-- change from ng-repeat to dir-paginate attribute -->
		<tr dir-paginate="
			country in countries |
			orderBy: sortType: sortReverse |
			filter: searchCountry |
			itemsPerPage: rowsPerPage">
			<td jq.rowselect class="jq-rowselect">
				<label class="cell-content"><input type="checkbox"></label>
			</td>
			<td>
				<div class="cell-content">{{country.code}}</div>
			</td>
			<td>
				<div class="cell-content">{{country.name}}</div>
			</td>
			<td class="text-right text-num">
				<div class="cell-content">{{country.population | number}}</div>
			</td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="999">
				<dir-pagination-controls
						boundary-links="true"
						on-page-change="pageChangeHandler(newPageNumber)"
						template-url="../get/tpl/dirPagination.tpl.html">
				</dir-pagination-controls>
			</td>
		</tr>
		</tfoot>
	</table>
	<img class="jq-lazyload" data-original="../img/lazyload.png">

</div>

